
body {
    background-color: #f1ecd4;
    font-family: 'Xanh Mono', monospace;
    padding: 50px;
}
h1{
    text-align: center;
    color: #5b5342;
    font-size: 120px;
    font-style: italic;
    margin-bottom: 0px;
}

h3{
    color: #101010;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    text-align: center;
        border: 2px solid rgb(0, 0, 0);
        border-radius: 50px;
    
}
      




p{
    color: #101010;
    font-size: 24px;
    line-height: 140%;
}
 .text {
    padding: 20px;
} 
img {
    max-width: 40%;
    float: right;
    padding-left: 50px;
    padding-bottom: 30px;
}