
body {
    background-color: #E3DEDE;
    font-family: 'Xanh Mono', monospace;
    padding: 50px;
}
h1{
    text-align: center;
    color: #146AEC;
    font-size: 120px;
    font-style: italic;
    margin-bottom: 0px;
}
p{
    color: #101010;
    font-size: 24px;
    line-height: 140%;
}
 .text {
    padding: 20px;
} 
img {
    max-width: 40%;
    float: right;
    padding-left: 50px;
    padding-bottom: 30px;
}